button.scrollToTop {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  box-shadow: 0 0 5px 1px gray;
  animation: jump 5s ease-in-out infinite 0.5s;
  color: rgb(17, 200, 0);
  transition: background-color, color 0.3s ease-in;

  svg {
    transform: scale(1.2, 1.5);
    fill: rgb(17, 200, 0);
    transition: fill 0.3s ease-in;
  }
}

button.scrollToTop:hover {
  background-color: rgb(17, 200, 0);
  color: white;

  svg {
    fill: white;
  }
}

@keyframes jump {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}
