:root {
  --background-poster: "transparent";
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Patua One", serif;
  line-height: 1.5;
  background: rgb(0, 0, 0);
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.927671117275035) 20%,
      rgba(10, 10, 10, 0.896858792345063) 40%,
      rgba(24, 24, 24, 0.9248699968268558) 60%,
      rgba(34, 34, 34, 0.9304722377232143) 80%,
      rgba(0, 0, 0, 1) 100%
    )
    no-repeat;
  min-height: 100vh;
  background-attachment: fixed;
}

a {
  display: block;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}
